* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #67420f;
}

header {
  background-color: #1b1108;
  color: #fff;
  padding: 20px 20px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 150px;
}

.logo-container {
  position: absolute;
  left: 40px;
}

.logo {
  width: 250px;
  height: auto;
  border-radius: 100px;
}

.center-content {
  margin: 0 auto;
  text-align: center;
}

.center-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links li a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #62590b;
}


.producto-grid {
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-template-columns:auto auto auto;
  grid-template-rows: auto auto;
}
    
.producto-card {
  background-color: #fff;
  border: 4px solid #000000;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  margin-left: auto;
  padding: 15px;
}

.producto-card img {
  width: 100%;
  height: 280px;
  border-width: 10px;
  border-style: groove;
  border-color: darkgoldenrod;
}
.producto-card h3 {
  margin: 10px 0 5px;
  text-align: center;
  color: darkgoldenrod;
}

.producto-card p {
  color: darkgoldenrod;
  text-align: center;
  margin: 10px 0 5px;
}
.producto-card button {
  background-color: #1b1108;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.producto-card button:hover {
  background-color: darkgoldenrod;
}

.tracklist-btn {
  width: 100%;
  background-color: #1b1108;
  color: #fff;
  border: 2px solid #1b1108;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.tracklist-btn:hover {
  background-color: darkgoldenrod;
  color: white;
}



.reseñas-section {
  background-color: #1b1108;
  padding: 40px 20px;
  text-align: center;
}

.reseñas-section h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.reseñas-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 20px;
}

.reseña-card {
  background-color: #f9f9f9;
  border: 2px solid darkgoldenrod;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.reseña-card:hover {
  transform: scale(1.03);
}

.reseña-text {
  font-style: italic;
  color: #444;
  margin-bottom: 15px;
}

.reseña-autor {
  color: darkgoldenrod;
  font-weight: bold;
}


footer {
  background-color: #1b1108;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 15px;
  width: 100%;
}



/* tracklists */
.tracklist-container {
  background-color: #fff;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  border: 4px solid darkgoldenrod;
  text-align: center;
}

.tracklist-container h2 {
  color: #1b1108;
  margin-bottom: 20px;
}

.tracklist-img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px groove darkgoldenrod;
}

.tracklist {
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  color: #333;
  font-size: 20px;
  line-height: 1.8;
  max-width: 500px;
}

/* estilo de contacto.html */

.contacto-container {
  display: flex;
  max-width: 1000px;
  margin: 60px auto;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  flex-wrap: wrap;
}

.contacto-left {
  background-color: #1b1108;
  color: #fff;
  padding: 40px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacto-left h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.contacto-left p {
  font-size: 20px;
  margin-bottom: 15px;
}

.contacto-right {
  flex: 1 1 400px;
  padding: 40px;
  background-color: #f9f9f9;
}

.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-form label {
  font-weight: bold;
  color: #1b1108;
}

.contacto-form input,
.contacto-form textarea {
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.contacto-form button {
  background-color: #1b1108;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacto-form button:hover {
  
  background-color: #62590b;
}




/* carrito */

.carrito-container {
  background-color: #fff;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  border: 4px solid darkgoldenrod;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.carrito-titulo {
  color: #1b1108;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.item-carrito {
  background-color: #fff;
  border: 2px solid darkgoldenrod;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.item-carrito p {
  margin: 10px 0;
  font-size: 20px;
  color: #1b1108;
}

.item-carrito button {
  padding: 5px 12px;
  background-color: #1b1108;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 4px;
}

.item-carrito button:hover {
  background-color: darkgoldenrod;
}

.carrito-total {
  font-size: 26px;
  font-weight: bold;
  color: #1b1108;
  text-align: right;
  margin-top: 20px;
}


.btn-comprar {
  width: 100%;
  background-color: green;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top: 15px;
}

.btn-comprar:hover {
  background-color: #1b1108;
  color: white;
  transform: scale(1.02);
}



.btn-vaciar {
  width: 100%;
   background-color: #8b0000;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top: 15px;
}

.btn-vaciar:hover {
  background-color: #1b1108;
}


.notificacion {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;

}


/* responsividad */
@media (max-width: 1080px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .logo-container {
    position: static;
    margin-bottom: 15px;
  }

  .logo {
    width: 180px;
  }


  .center-content h1 {
    font-size: 30px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 15px;
  }

  .nav-links li a {
    font-size: 20px;
    padding: 5px 15px;
  }

  .productproducto-grid {
    grid-template-columns: 300px 300px;
    justify-content: center;
  }

  
  .contacto-container {
    flex-direction: column;
  }

  .contacto-left,
  .contacto-right {
    width: 100%;
    padding: 30px;
  }
   .reseñas-grid {
    grid-template-columns: 300px 300px;
  }
}

@media (max-width: 600px) {

  .logo {
    width: 150px;
  }

  .center-content h1 {
    font-size: 30px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li a {
    font-size: 15px;
    padding: 5px 10px;
  }

 
  .producto-grid {
    grid-template-columns: 300px;
    justify-content: center;
  }

  .producto-card {
    margin: 10px auto;
  }


  .contacto-left h2 {
    font-size: 25px;
    text-align: center;
  }

  .contacto-left p {
    text-align: center;
    font-size: 15px;
  }

  .contacto-form input,
  .contacto-form textarea {
    font-size: 15px;
  }

  .contacto-form button {
    font-size: 15px;
    padding: 10px;
  }

  .reseñas-grid {
    grid-template-columns: 300px;
  }

  .reseñas-section h2 {
    font-size: 25px;
  }

  .reseña-card {
    max-width: 100%;
  }

  @media (max-width: 600px) {
  .item-carrito p {
    font-size: 16px;
  }

  .btn-vaciar {
    font-size: 16px;
  }
}

}
